.left-box {
  width: 100px;
  height: 100px;
  background-color: blue;
  float: left;
}
.right-box {
  width: 100px;
  height: 100px;
  background-color: green;
  float: left;
}
/* float 사용 후 -> clear 시켜야 함. */
.footer {
  clear: both;
  float: none;
  width: 200px;
  height: 100px;
  background-color: aqua;
}
