.container {
  width: 600px;
  margin: 10px auto;
}

fieldset {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}
ul li {
  margin: 10px;
  display: flex;
  align-items: center;
}

li label {
  width: 120px;
  font-weight: bold;
  line-height: 30px;
}
/* input : 태그명, type : 속성, [] : 속성을 가리키는 선택자 */
input[type="text"], input[type="email"], input[type="tel"]
{
  width: 300px;
  height: 25px;
}

.buttons {
  text-align: center;
}

.buttons input {
  width: 150px;
  height: 40px;
  font-size: 18px;
}

input[type="submit"] {
  background-color: blue;
  color: white;
  border: none;
  margin-right: 20px;
}

input[type="reset"] {
  border: 1px solid gray;
}